/*! Ultimate Media On The Cloud | (c) PhpRockets Team | Ultimate Media On The Cloud Style Set */
/**
*
*/
/* ------------------ Margins --------------------*/
.row.no-padding {
    margin-left: 0;
    margin-right: 0;
}
.row.no-padding [class^="col-"] {
    padding: 0;
}
.m0 {
    margin: 0 !important;
}
.m5 {
    margin: 5px !important;
}
.m10 {
    margin: 10px !important;
}
.m15 {
    margin: 15px !important;
}
.m20 {
    margin: 20px !important;
}
.m25 {
    margin: 25px !important;
}
.m30 {
    margin: 30px !important;
}
.mt0 {
    margin-top: 0 !important;
}
.mt5 {
    margin-top: 5px !important;
}
.mt10 {
    margin-top: 10px !important;
}
.mt15 {
    margin-top: 15px !important;
}
.mt20 {
    margin-top: 20px !important;
}
.mt25 {
    margin-top: 25px !important;
}
.mt30 {
    margin-top: 30px !important;
}
.mt50 {
    margin-top: 50px !important;
}
.mr0 {
    margin-right: 0 !important;
}
.mr5 {
    margin-right: 5px !important;
}
.mr10 {
    margin-right: 10px !important;
}
.mr15 {
    margin-right: 15px !important;
}
.mr20 {
    margin-right: 20px !important;
}
.mr25 {
    margin-right: 25px !important;
}
.mr30 {
    margin-right: 30px !important;
}
.mb0 {
    margin-bottom: 0 !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.mb15 {
    margin-bottom: 15px !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.mb25 {
    margin-bottom: 25px !important;
}
.mb30 {
    margin-bottom: 30px !important;
}
.mb50 {
    margin-bottom: 50px !important;
}
.ml0 {
    margin-left: 0 !important;
}
.ml5 {
    margin-left: 5px !important;
}
.ml10 {
    margin-left: 10px !important;
}
.ml15 {
    margin-left: 15px !important;
}
.ml20 {
    margin-left: 20px !important;
}
.ml25 {
    margin-left: 25px !important;
}
.ml30 {
    margin-left: 30px !important;
}
/* Minus margins */
.mlm5 {
    margin-top: -5px !important;
}
.mlm10 {
    margin-top: -10px !important;
}
.mlm15 {
    margin-top: -15px !important;
}
.mlm20 {
    margin-top: -20px !important;
}
.mlm25 {
    margin-top: -25px !important;
}
.mtm5 {
    margin-top: -5px !important;
}
.mtm10 {
    margin-top: -10px !important;
}
.mtm15 {
    margin-top: -15px !important;
}
.mtm20 {
    margin-top: -20px !important;
}
.mtm25 {
    margin-top: -25px !important;
}
.mrm5 {
    margin-top: -5px !important;
}
.mrm10 {
    margin-top: -10px !important;
}
.mrm15 {
    margin-top: -15px !important;
}
.mrm20 {
    margin-top: -20px !important;
}
.mrm25 {
    margin-top: -25px !important;
}
.mbm5 {
    margin-top: -5px !important;
}
.mbm10 {
    margin-top: -10px !important;
}
.mbm15 {
    margin-top: -15px !important;
}
.mbm20 {
    margin-top: -20px !important;
}
.mbm25 {
    margin-top: -25px !important;
}
/* ------------------ Paddings --------------------*/
.p0 {
    padding: 0 !important;
}
.p5 {
    padding: 5px !important;
}
.p10 {
    padding: 10px !important;
}
.p15 {
    padding: 15px !important;
}
.p20 {
    padding: 20px !important;
}
.p25 {
    padding: 25px !important;
}
.pt0 {
    padding-top: 0 !important;
}
.pt5 {
    padding-top: 5px !important;
}
.pt10 {
    padding-top: 10px !important;
}
.pt15 {
    padding-top: 15px !important;
}
.pt20 {
    padding-top: 20px !important;
}
.pt25 {
    padding-top: 25px !important;
}
.pr0 {
    padding-right: 0 !important;
}
.pr5 {
    padding-right: 5px !important;
}
.pr10 {
    padding-right: 10px !important;
}
.pr15 {
    padding-right: 15px !important;
}
.pr20 {
    padding-right: 20px !important;
}
.pr25 {
    padding-right: 25px !important;
}
.pb0 {
    padding-bottom: 0 !important;
}
.pb5 {
    padding-bottom: 5px !important;
}
.pb10 {
    padding-bottom: 10px !important;
}
.pb15 {
    padding-bottom: 15px !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
.pb25 {
    padding-bottom: 25px !important;
}
.pl0 {
    padding-left: 0 !important;
}
.pl5 {
    padding-left: 5px !important;
}
.pl10 {
    padding-left: 10px !important;
}
.pl15 {
    padding-left: 15px !important;
}
.pl20 {
    padding-left: 20px !important;
}
.pl25 {
    padding-left: 25px !important;
}
/* ------------------ Percent widths --------------------*/
.per5 {
    width: 5% !important;
}
.per10 {
    width: 10% !important;
}
.per15 {
    width: 15% !important;
}
.per20 {
    width: 20% !important;
}
.per25 {
    width: 25% !important;
}
.per30 {
    width: 30% !important;
}
.per35 {
    width: 35% !important;
}
.per40 {
    width: 40% !important;
}
.per45 {
    width: 45% !important;
}
.per50 {
    width: 50% !important;
}
.per55 {
    width: 55% !important;
}
.per60 {
    width: 60% !important;
}
.per65 {
    width: 65% !important;
}
.per70 {
    width: 70% !important;
}
.per75 {
    width: 75% !important;
}
.per80 {
    width: 80% !important;
}
.per85 {
    width: 85% !important;
}
.per90 {
    width: 90% !important;
}
.per95 {
    width: 95% !important;
}
.per100 {
    width: 100% !important;
}
/* ------------------ Borders --------------------*/
.b {
    border: 1px solid #c4c4c4 !important;
}
.bt {
    border-top: 1px solid #c4c4c4 !important;
}
.br {
    border-right: 1px solid #c4c4c4 !important;
}
.bb {
    border-bottom: 1px solid #c4c4c4 !important;
}
.bl {
    border-left: 1px solid #c4c4c4 !important;
}
.btlr {
    border-top-left-radius: 2px !important;
}
.btrr {
    border-top-right-radius: 2px !important;
}
.bblr {
    border-bottom-left-radius: 2px !important;
}
.bbrr {
    border-bottom-right-radius: 2px !important;
}
.brall {
    border-radius: 2px !important;
}
.bn {
    border: none !important;
}
.bnt {
    border-top: none !important;
}
.bnb {
    border-bottom: none !important;
}
.bnl {
    border-left: none !important;
}
.bnr {
    border-right: none !important;
}
.brad0 {
    border-radius: 0 !important;
}
.btlr0 {
    border-top-left-radius: 0 !important;
}
.btrr0 {
    border-top-right-radius: 0 !important;
}
.bblr0 {
    border-bottom-left-radius: 0 !important;
}
.bbrr0 {
    border-bottom-right-radius: 0 !important;
}
.brad {
    border-radius: 2px !important;
}
.bbdashed {
    border-bottom: 1px dashed #c4c4c4 !important;
}
/* ------------------ Colors --------------------*/
.color-red {
    color: #ed7a53 !important;
}
.color-red-light {
    color: #ec8765 !important;
}
.color-red-dark {
    color: #ec693c !important;
}
.color-blue {
    color: #3399cc !important;
}
.color-blue-light {
    color: #4faede !important;
}
.color-blue-dark {
    color: #1e86ba !important;
}
.color-green {
    color: #9fc569 !important;
}
.color-green-light {
    color: #adcf7e !important;
}
.color-green-dark {
    color: #8db652 !important;
}
.color-yellow {
    color: #f4ad49 !important;
}
.color-yellow-light {
    color: #f5b75f !important;
}
.color-yellow-dark {
    color: #d69840 !important;
}
.color-white {
    color: #ffffff !important;
}
.color-dark {
    color: #1f3140 !important;
}
.color-dark-light {
    color: #273e51 !important;
}
.color-dark-dark {
    color: #17242f !important;
}
.color-gray {
    color: #a2aaac !important;
}
.color-gray-light {
    color: #777777 !important;
}
.color-gray-dark {
    color: #333333 !important;
}
/* ------------------ Backgrounds --------------------*/
.white-bg {
    color: #333333 !important;
    background-color: #ffffff !important;
}
.red-bg {
    color: #ffffff !important;
    background-color: #ed7a53 !important;
}
.red-light-bg {
    color: #ffffff !important;
    background-color: #ec8765 !important;
}
.red-dark-bg {
    color: #ffffff !important;
    background-color: #ec693c !important;
}
.blue-bg {
    color: #ffffff !important;
    background-color: #3399cc !important;
}
.blue-light-bg {
    color: #ffffff !important;
    background-color: #4faede !important;
}
.blue-dark-bg {
    color: #ffffff !important;
    background-color: #1e86ba !important;
}
.green-bg {
    color: #ffffff !important;
    background-color: #9fc569 !important;
}
.green-light-bg {
    color: #ffffff !important;
    background-color: #adcf7e !important;
}
.green-dark-bg {
    color: #ffffff !important;
    background-color: #8db652 !important;
}
.yellow-bg {
    color: #ffffff !important;
    background-color: #f4ad49 !important;
}
.yellow-light-bg {
    color: #ffffff !important;
    background-color: #f5b75f !important;
}
.yellow-dark-bg {
    color: #ffffff !important;
    background-color: #d69840 !important;
}
.gray-bg {
    color: #333333 !important;
    background-color: #a2aaac !important;
}
.gray-light-bg {
    color: #333333 !important;
    background-color: #777777 !important;
}
.gray-lighter-bg {
    color: #333333 !important;
    background-color: #eeeeee !important;
}
.gray-dark-bg {
    color: #333333 !important;
    background-color: #333333 !important;
}
.gray-darker-bg {
    color: #333333 !important;
    background-color: #222222 !important;
}
.dark-bg {
    color: #ffffff !important;
    background-color: #1f3140 !important;
}
.dark-light-bg {
    color: #ffffff !important;
    background-color: #273e51 !important;
}
.dark-dark-bg {
    color: #ffffff !important;
    background-color: #17242f !important;
}
/* ------------------ Opacity --------------------*/
.opacity {
    opacity: 1 !important;
}
.opacity0 {
    opacity: 0 !important;
}
/* ------------------ Typo --------------------*/
.strong {
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}
.normal {
    font-weight: normal;
}
.text-ellipsis {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* ------------------ Contextual colors --------------------*/
.text-muted {
    color: #777777;
}
.text-primary {
    color: #3399cc;
}
a.text-primary:hover,
a.text-primary:focus {
    color: #297aa3;
}
.text-success {
    color: #9fc569;
}
a.text-success:hover,
a.text-success:focus {
    color: #87b546;
}
.text-info {
    color: #4faede;
}
a.text-info:hover,
a.text-info:focus {
    color: #2799d3;
}
.text-warning {
    color: #f4ad49;
}
a.text-warning:hover,
a.text-warning:focus {
    color: #f19719;
}
.text-danger {
    color: #ed7a53;
}
a.text-danger:hover,
a.text-danger:focus {
    color: #e85625;
}
.text-yellow {
    color: #f4ad49;
}
a.text-yellow:hover,
a.text-yellow:focus {
    color: #f19719;
}
.text-dark {
    color: #1f3140;
}
a.text-dark:hover,
a.text-dark:focus {
    color: #0e171e;
}
/* ------------------ Positions --------------------*/
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
/* ------------------ Rotate helpers --------------------*/
.rotate0 {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.rotate15 {
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}
.rotate30 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.rotate45 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.rotate60 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}
.rotate75 {
    -webkit-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    transform: rotate(75deg);
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.rotate105 {
    -webkit-transform: rotate(105deg);
    -ms-transform: rotate(105deg);
    transform: rotate(105deg);
}
.rotate120 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}
.rotate135 {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}
.rotate150 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}
.rotate165 {
    -webkit-transform: rotate(165deg);
    -ms-transform: rotate(165deg);
    transform: rotate(165deg);
}
.rotate180 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotateM15 {
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.rotateM30 {
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.rotateM45 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.rotateM60 {
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
}
.rotateM75 {
    -webkit-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    transform: rotate(-75deg);
}
.rotateM90 {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.rotateM105 {
    -webkit-transform: rotate(-105deg);
    -ms-transform: rotate(-105deg);
    transform: rotate(-105deg);
}
.rotateM120 {
    -webkit-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    transform: rotate(-120deg);
}
.rotateM135 {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.rotateM150 {
    -webkit-transform: rotate(-150deg);
    -ms-transform: rotate(-150deg);
    transform: rotate(-150deg);
}
.rotateM165 {
    -webkit-transform: rotate(-165deg);
    -ms-transform: rotate(-165deg);
    transform: rotate(-165deg);
}
.rotateM180 {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
/* ------------------ Other --------------------*/
.bshadowNone {
    box-shadow: none !important;
}
.di {
    display: inline !important;
}
.dib {
    display: inline-block !important;
}
.db {
    display: block !important;
}


.ucm-loading-lock {
    display: none;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
}
.ucm-loading-lock-bg {
    width: 100%;
    height: 100%;
    background: #FFF;
    opacity: 0.5;
    -moz-opacity: 0.5;
    z-index: 1;
    position: absolute;
}
.ucm-loading-lock-content {
    z-index: 2;
    position: relative;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20%;
}
#ucm-save-dialog {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 2px;
    width: 450px;
    z-index: 10000;
}
.ucm-settings-body .account-panel-body,
.ucm-settings-body .panel-body { display: none; }
.ucm-settings-body .account-panel-body.is-active,
.ucm-settings-body .panel-body.is-active { display: block; }
.dashicons.icon-button {
    font-size: 14px;
    padding-top: 5px;
}
a.ucm-settings-nav {
    text-decoration: none;
}
a.ucm-settings-nav:focus, .ucm-accounts-tab-links a {
    box-shadow: none !important;
}
img.ucm-banner {
    border-radius: 5px;
    width: 99%;
    padding: 5px;
}
.tags-wrap .tag-element {
    float: left;
    margin-right: 5px;
}
.ucm-clear-fix { clear: both !important; }
.box.ucm-settings-header {
    margin-bottom: 0.6rem;
}
.ucm-helptext.message .message-body small {
     display: inline;
     width: 100%;
     float: none;
}
.ucm-accounts-tab-links {
    padding-left: 5px;
    margin-bottom: 20px;
}
.ucm-accounts-tab-links a {
    border-left: 1px solid;
    padding-left: 5px
}
.ucm-accounts-tab-links a:first-child {
    border-left: none;
}
.ucm-accounts-tab-links a:not(.is-active) {
    color: #000;
    text-decoration: none;
}
.ucm-addon-col {
    width: 250px;
    border: 1px solid #ccc;
    padding: 2px;
}
.ucm-addon-col .ucm-addon-img {
    height: 138px;
}
.ucm-addon-col h3 {
    text-align: center;
    font-size: 14px;
    color: #55B8FB;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ucm-addon-col .ucm-addon-desc {
    margin-bottom: 5px;
    padding: 10px;
}
.ucm-addon-col .ucm-addon-actions {
    text-align: center;
}
.columns.ucm-field-hidden {
    display: none;
}
.tags-hints {
    position: absolute;
    z-index: 1000;
    background: #FFF;
    width: 100%;
    border: 1px solid #e2e2e2;
    top: 35px;
    display: none;
}
.tags-hints ul {
    padding: 0px;
    margin: 0;
}
.tags-hints ul li {
    font-size: 13px;
    padding: 10px 15px;
    margin: 0;
}
.tags-hints ul li:hover {
    background-color: #e9f8ff;
    cursor: pointer;
}
.ucm-fm-ui-preview {
    display: none;
}
.ucm-fm-ui-preview.is-active {
    display: block;
}
legend.ucm-frm-legend {
    font-size: 19px;
    font-weight: 500;
}
.elfinder.elfinder-ltr div.elfinder-bottomtray, #elfinder-pixo-container, .elfinder-dialog-active.elfinder-maximized {
    z-index: 999999 !important;
}